<%- include("_header") -%>
<br>
<h1>Customer Export</h1>
<h4>Total Customers: <%= totRecs %></h4>
<br>
<p>Enter a file name and click "Export Customers"</p>
<form action="/export" method="post">
  <label for="filename">File Name</label>
  <input type="text" id="filename" name="filename" placeholder="export.csv" required>
  <p></p>
  <button type="submit" class="btn btn-primary">Export Customers</button>
</form>

<% if (message.substring(0, 5) === "Error") { %>
  <h2>Error!</h2>
  <p><%= message %></p>
<% } %>
<br>
<%- include("_footer") -%>
